
body {
    background-color: rgb(242, 228, 220);
}
#add-list-item {
	outline: none;
    box-sizing: border-box;
    width: 100%;
	margin-bottom: 2%;
    background-color: rgb(250, 245, 242);
	border: 1px solid #ccc;
	padding: 2%;
	color: rgb(140, 136, 128);
	font: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

#add-list-item::placeholder {
    color: rgb(217, 208, 199);
}


#add-button {
    width:50%;
    padding: 1%;
    font-weight: bold;
    border-radius: 5px;
    margin:0 auto;
    display:block;
    margin-bottom: 4%;
    background-color: rgb(64, 60, 52);
    border: 5px solid rgb(64, 60, 52);
    font: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 3px;    
    color: white;
    cursor: pointer;
    transition-duration: 300ms;
}

#add-button:hover {
    background-color: rgb(13, 0, 0);
    /* transition: 350ms; */
    border: 5px solid rgb(13, 0, 0);
    border-radius: 50px;
    color: white;
}

#add-button:active {
    transform: translateY(3px);
}

#todo-list-box {
    margin: 0 auto;
    width: 50%;
    border: 5px solid rgb(254, 249, 245);
    box-sizing: border-box;
    background-color: rgb(250, 245, 242);
}


ul {
    list-style-type: disc;
    margin: 2em auto 2em;
    /* line-height: 3; */
    }
    
    li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(64, 60, 52);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 5%;
    }
    li:hover {
        color:rgb(217, 208, 199);
        text-decoration: line-through;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        cursor: default;
    }


.delete {
    background-color: rgb(217, 208, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(64, 60, 52);
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border-width: 1px;
    border-color: rgb(64, 60, 52);
    transition: 250ms;
}

.delete:hover {
    background-color: rgb(242, 45, 27);
    color: rgb(253, 216, 215);
    border-width: 1px;
    border-color: rgb(242, 45, 27);
}

.completed {
    color:rgb(209, 204, 195);
    text-decoration: line-through;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
